* {
  /* border: solid 1px; */
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
}
/*  ----------------------------
part_header
---------------------------- */
.part_header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.logo {
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_coachtech {
  font-size: 2vw;
  font-weight: bold;
  color: #111176;
}

.menu {
  width: 30vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  box-sizing: border-box;
}
.menu a {
  font-size: 1vw;
  font-weight: bold;
  color: #111176;
}

/* ----------------------------
part_main
---------------------------- */
.part_main {
  width: 100%;
  margin-top: 10vh;
}
.item1 {
  width: 50%;
  position: relative;
  margin: 0 0 -15vh auto;
}
.item1_img {
  width: 100%;
  height: auto;
  display: block;
}
.item2 {
  font-size: 5vw;
  font-weight: lighter;
  line-height: 1;
  margin: 0px;
}
.item3 {
  width: 70%;
  height: 20vh;
  background: #111176;
  margin: 0px;
}
